<ul>
  <li>
    <p>
      ・これはTakuma Kidaのポートフォリオです。<br><br>
      ・お客様のお問い合わせ送信画面と送信内容の管理画面という作りになっています。<br>
        サービスの目的としては、BtoCの事業の問題・課題を管理しやすくすることを目的としています。<br>
        データの例としては、とあるスーパーマーケットにおける導入されたケースを想定しております。<br><br>
      ・ログインフォームには簡便のためあらかじめidとパスワードが入力されております。<br>
        本来は限られたメンバーのみがidとパスワードを知っているという想定でご確認ください。<br><br>
    </p>
    <%= link_to('ログイン画面へ戻る', '/login') %>
  </li>
</ul>
