<ul>
  <li>
    <p>
      ・これはTakuma Kidaのポートフォリオです。<br><br>
      ・お客様のお問い合わせ送信画面と送信内容の管理画面という作りになっています。<br>
        サービスの目的としては、BtoCの事業の問題・課題を管理しやすくすることを目的としています。<br>
        データの例としては、とあるスーパーマーケットにおける導入されたケースを想定しております。<br><br>
      ・ログインできるアカウントは以下になります。<br>
        Email : demo@mail.com<br>
        Password : password<br>
        本来は限られたメンバーのみがidとパスワードを知っているという想定でご確認ください。<br><br>
    </p>
    <%= link_to('一つ前へ戻る', '/users/sign_in') %>
  </li>
</ul>
