<h1 class="cp_h1title">本日寄せられたお問い合わせ</h1>
<%= link_to("管理者画面トップへ",top_path) %>
<% if @posts.empty? != true%>
  <% @posts.each do |post| %>
    <ul><li>
      <%= post.created_at.strftime('%Y/%m/%d') %>
      <%= link_to(post.summary, "/posts/#{post.id}") %>
      <% if post.done_flag == true %>
        <b><font color="#ff0000">解決済み</b>
      <%end%>
    </li></ul>
  <% end %>
<% else %>
  <p>※本日寄せられたお問い合わせは、今のところありません。</p>   
<% end %>
