/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //真ん中寄せ
body{
  width:100%;
  text-align:center;
}
#wrap{
  width: 960px;
  margin: 0 auto;
  text-align:left;
}
//タイトルの枠
.cp_h1title {
	padding: 4px 0;
	border-top: 3px double #668ad8;
	border-bottom: 3px double #668ad8;
	text-align: center;
	color: #668ad8;
}
//flash(アラートメッセージ)
 .flash {
	padding: 10px 0;
	color: white;
	background: #668ad8;;
	text-align: center;
	position: absolute;
	top: 90px;
	z-index: 10;
	width: 100%;
	border-radius: 0 0 2px 2px;
	font-size: 18px;
  }