// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//投稿入力欄(要改善)
textarea#post_form {
  max-height: 500px;
  min-height: 150px;
  max-width: 1150px;
  min-width: 1000px;
  font-size: 100%;
}
//選択リスト
select#post_select {
  max-height: 50px;
  min-height: 30px;
  max-width: 100px;
  min-width: 300px;
  font-size: 100%;
}
//提出ボタン
input#submit_button {
	//padding: 15px 40px;
	// 幅と高さを指定
	width: 100px;
	height: 50px;
	font-size: 1.2em;
}
//確認画面の入力欄を非活性化
input#input_none {
	display: none;
}
textarea#textarea_none {
	display: none;
}